#title{
    padding: 50px ;
    margin: 20px;
  text-align: center; 
}
#login{
    margin-left: 20px;
    padding: 20px;
    text-align:left;
    position:fixed;
}
.search-div{
    margin-left: 900px;
    padding:50px;
   text-align:right;
    position:fixed;
}
.search-button{
    text-align: center;
    line-height: 1.2em;
    background: #76E9E1;
    border-radius: 1.8em;
    padding: .2em 1.5em .1em;
    font-size: 1em;
    color: rgb(15, 15, 15);
   padding-left: 0.4em;
}

.categories{
    display:flex;
    background-color: #76E9E1;
    padding:50px; 
    padding-left:100px;
    padding-bottom: 0px;
    margin-left:35px;
   }

.categories-left{
display: flex;
flex-wrap: wrap;
align-items:flex-start;
margin:50px;
margin-left:75px;
padding: 20px;
max-width:100%;
height: auto;

  }

.categories-right{
   display:flex;
   align-items:flex-end;
   flex-wrap: wrap;
   padding: 10px;
   max-width:100%;
   height:auto; 
  }

 #image{ 
    display:flex; 
    justify-content: space-between;
    align-content: flex-start;
  flex-wrap: wrap;
   max-width: 550%;
   display: block;
   height: auto;
   padding: 70px;
   margin-top: 50px;
   align-content: space-between 
} 

 .home,
.school,
.leisure,
.general{
    background-color: #F57CBC;
    margin: 55px;
    padding: 55px;
   
 }

 